installing required packages

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

loading the data set to my jupyter notebook environment

In [8]:
data = pd.read_csv("weather_data.csv")
data.head(15)

,date,city,temperature_celsius,humidity_percent,wind_speed_kph,weather_condition
0,2023-01-01,New York,5.0,60.0,10.0,Sunny
1,01/02/2023,New York,NaN,65.0,12.0,Cloudy
2,03-01-2023,New York,7.0,NaN,8.0,Rainy
3,NaN,London,8.0,70.0,15.0,Unknown
4,2023-01-02,London,6.0,75.0,20.0,Snowy
5,01/03/2023,London,NaN,80.0,18.0,Cloudy
6,2023-01-01,Tokyo,10.0,50.0,5.0,Sunny
7,01/02/2023,Tokyo,12.0,55.0,6.0,Cloudy
8,03-01-2023,Tokyo,NaN,60.0,7.0,Unknown
9,01-25-2023,New York,NaN,51.0,20.3,Sunny
10,2023-01-12,New York,NaN,NaN,10.2,Unknown
11,14-01-2023,New York,15.7,NaN,1.1,Unknown
12,01-07-2023,New York,NaN,NaN,17.9,Snowy
13,06/01/2023,London,NaN,NaN,11.1,Unknown
14,01/15/2023,London,NaN,56.0,NaN,RAINY

In [9]:
# displaying the columns
print(data.columns)
# displaying the data types of each column
print(data.dtypes)

Index(['date', 'city', 'temperature_celsius', 'humidity_percent',
       'wind_speed_kph', 'weather_condition'],
      dtype='object')
date                    object
city                    object
temperature_celsius    float64
humidity_percent       float64
wind_speed_kph         float64
weather_condition       object
dtype: object

In [14]:
columns = data.columns
missing_values = data.isnull().sum()
print("Missing values in each column:")
print(missing_values)
total_missing_values = missing_values.sum()
print(f'Total missing values from all the dataset = {total_missing_values}')

Missing values in each column:
date                   20
city                    0
temperature_celsius    58
humidity_percent       53
wind_speed_kph         45
weather_condition      16
dtype: int64
Total missing values from all the dataset = 192